<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加学员</title>
    <link rel='stylesheet' href="/static/plugin/bootstrap-3.3.7-dist/css/bootstrap.css"/>
</head>
<body>
<div class="form-group">
    <h3>添加学员</h3>
<form  method="post" action="a_stu">
    <p>
        <span style="font-size: 15px">学员名称：</span><br>

        <input class="form-control" style="width: 180px; height: 30px;" type="text" name="name" placeholder="学生姓名"/>
    </p>
    <p>
        <span style="font-size: 15px;">所属班级：</span><br>

        <select class="form-control" style="width: 180px; height: 35px;" name="cid">
            {% for row in result %}
            <option value="{{ row.classID }}">{{ row.name }}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <input class="btn btn-success" type="submit" value="提交"/>
    </p>
</form>
</div>
</body>
</html>